.vscode/*
credentials.py
__pycache__/*
cliente/*
.clienteapi/*
config.ini
*/__pycache__/*
ClienteApi.code-workspace
.idea/ClienteApi.iml
.idea/misc.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
